<!DOCTYPE html>
<head>
    <title>ZapAPI</title>
    <link rel="stylesheet" href="https://igoradamenko.github.io/awsm.css/css/awsm.min.css">
</head>
<body>
    <h2>ZapAPI</h2>
    <p>Simple usage with <em>curl</em> </p>
    <p><code>$curl <span class="local"></span>api?host=https://google.com</code></p>
    <p><code>$curl <span class="local"></span>reports</code></p>
    <p><code>$curl <span class="local"></span>reports?report=report_example_timestamp.html</code></p>
    
    
    <script>
        /**
        append location url in span class
        **/
        var spanTags = document.getElementsByClassName("local");
        for (var i = 0; i < spanTags.length; i ++) {
            spanTags[i].appendChild(document.createTextNode(window.location.href));
        }
    </script>
</body>
</html>